<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

        <title>Call counter</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="list-group" id="history"></ul>
                    <iframe src="" width="0" height="0" style="border: none;" id="frametts"></iframe>
                </div>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io('http://<%= server_ip %>:8080');
            var queue = [];
            socket.on('tts', function(url){
                queue.unshift(url);
            });
            socket.on('counterUpdated', function(data){
                if(data.user != 0) {
                    $("#history").prepend(`<li class='list-group-item'>
                        N°<strong>`+data.value+`</strong> 
                        <i class="fas fa-arrow-circle-right"></i> <strong>`+data.user+`</strong>
                    </li>`);

                    $("li:nth-child(5) + li").remove();
                }
            });

            setInterval(function() {
                $("#frametts").attr("src",queue.pop());
            }, 10000);

            socket.emit('login', "Viewer");
        </script>
    </body>
</html>
